extends layout

block content 
    h3 span=n1
        {{#sum}}+{{/sum}}
        {{#multiply}}ｘ{{/multiply}}
        {{#divide}}÷{{/divide}}
        {{#power}}^{{/power}}
        {{#substract}}-{{/substract}}
        n2 = result